# ETL Pipeline: Analyzing Sleep Deprivation and Cognitive Performance
This script automates an **ETL pipeline** to process a dataset analyzing how sleep deprivation affects cognitive performance and emotional stability. It extracts raw participant data (including sleep metrics, cognitive test results, and demographics), transforms it by cleaning inconsistencies, normalizing numerical features, encoding categorical variables, and engineering new features (e.g., sleep efficiency). The transformed data is loaded into an SQLite database for secure storage and efficient querying, enabling robust analysis of sleep-cognition relationships. Built with `pandas`, `numpy`, and `sqlite3`, it includes error handling for reliability.

In [136]:
import pandas as pd
import numpy as np
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter
import sqlite3

## Data Extraction and Initial Loading

In [139]:
# Set the path to the file you'd like to load
file_path = "sleep_deprivation_dataset_detailed.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "sacramentotechnology/sleep-deprivation-and-cognitive-performance",
  file_path,
)

In [141]:
# Create a copy of the DataFrame
df_copy = df.copy()

## Data Exploration and Initial Cleaning

In [144]:
# Display the first few rows of the dataset
df.head()

,Participant_ID,Sleep_Hours,Sleep_Quality_Score,Daytime_Sleepiness,Stroop_Task_Reaction_Time,N_Back_Accuracy,Emotion_Regulation_Score,PVT_Reaction_Time,Age,Gender,BMI,Caffeine_Intake,Physical_Activity_Level,Stress_Level
0,P1,5.25,15,12,1.60,64.20,12,365.85,35,Female,30.53,2,1,33
1,P2,8.70,12,14,2.54,65.27,21,288.95,20,Male,27.28,3,8,37
2,P3,7.39,17,10,3.40,74.28,35,325.93,18,Male,30.00,1,2,32
3,P4,6.59,14,3,3.54,72.42,25,276.86,18,Male,34.47,5,0,23
4,P5,3.94,20,12,3.09,99.72,60,383.45,36,Male,29.70,3,4,14

In [146]:
# Display the last few rows of the dataset
df.tail()

,Participant_ID,Sleep_Hours,Sleep_Quality_Score,Daytime_Sleepiness,Stroop_Task_Reaction_Time,N_Back_Accuracy,Emotion_Regulation_Score,PVT_Reaction_Time,Age,Gender,BMI,Caffeine_Intake,Physical_Activity_Level,Stress_Level
55,P56,8.53,16,16,3.51,64.76,41,391.48,34,Male,23.01,2,5,8
56,P57,3.53,19,16,3.24,66.13,36,355.01,24,Female,34.93,2,1,25
57,P58,4.18,3,1,2.62,92.43,29,397.13,41,Male,29.85,0,1,21
58,P59,3.27,4,1,4.32,56.83,33,330.70,40,Female,24.53,4,1,29
59,P60,4.95,6,21,4.42,85.45,21,419.01,22,Male,30.53,0,10,16

In [148]:
# Check the dimensions of the dataset
df.shape

(60, 14)

In [150]:
# Get column names and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Participant_ID             60 non-null     object
 1   Sleep_Hours                60 non-null     float64
 2   Sleep_Quality_Score        60 non-null     int64
 3   Daytime_Sleepiness         60 non-null     int64
 4   Stroop_Task_Reaction_Time  60 non-null     float64
 5   N_Back_Accuracy            60 non-null     float64
 6   Emotion_Regulation_Score   60 non-null     int64
 7   PVT_Reaction_Time          60 non-null     float64
 8   Age                        60 non-null     int64
 9   Gender                     60 non-null     object
 10  BMI                        60 non-null     float64
 11  Caffeine_Intake            60 non-null     int64
 12  Physical_Activity_Level    60 non-null     int64
 13  Stress_Level               60 non-null     int64
dtypes: float64(5), int64(7), object(2)
memory usage: 6.7+ KB

In [152]:
# Check for missing values
df.isnull().sum()

Participant_ID               0
Sleep_Hours                  0
Sleep_Quality_Score          0
Daytime_Sleepiness           0
Stroop_Task_Reaction_Time    0
N_Back_Accuracy              0
Emotion_Regulation_Score     0
PVT_Reaction_Time            0
Age                          0
Gender                       0
BMI                          0
Caffeine_Intake              0
Physical_Activity_Level      0
Stress_Level                 0
dtype: int64

In [154]:
# Generate descriptive statistics for numerical columns
df.describe()

,Sleep_Hours,Sleep_Quality_Score,Daytime_Sleepiness,Stroop_Task_Reaction_Time,N_Back_Accuracy,Emotion_Regulation_Score,PVT_Reaction_Time,Age,BMI,Caffeine_Intake,Physical_Activity_Level,Stress_Level
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.0000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000
mean,5.805500,8.316667,12.000000,3.245000,75.005833,38.1500,332.539000,29.516667,27.329333,2.383333,4.116667,17.866667
std,1.832357,5.637320,7.577845,0.827368,13.671457,17.1334,87.800288,8.168753,4.541382,1.688362,3.108717,11.015346
min,3.120000,0.000000,0.000000,1.600000,50.900000,10.0000,201.560000,18.000000,18.740000,0.000000,0.000000,0.000000
25%,4.107500,4.000000,6.000000,2.595000,64.620000,25.0000,257.535000,21.750000,23.580000,1.000000,1.000000,8.750000
50%,5.690000,8.000000,11.500000,3.260000,74.270000,37.0000,327.210000,28.500000,27.365000,2.500000,4.000000,17.500000
75%,7.285000,13.000000,19.000000,3.965000,85.600000,54.2500,402.845000,36.000000,30.747500,4.000000,6.000000,26.250000
max,8.820000,20.000000,24.000000,4.490000,99.730000,67.0000,494.550000,43.000000,34.930000,5.000000,10.000000,40.000000

In [156]:
# Check for duplicates in the dataset
df.duplicated().sum()

0

In [158]:
# Check the data types of all columns
df.dtypes

Participant_ID                object
Sleep_Hours                  float64
Sleep_Quality_Score            int64
Daytime_Sleepiness             int64
Stroop_Task_Reaction_Time    float64
N_Back_Accuracy              float64
Emotion_Regulation_Score       int64
PVT_Reaction_Time            float64
Age                            int64
Gender                        object
BMI                          float64
Caffeine_Intake                int64
Physical_Activity_Level        int64
Stress_Level                   int64
dtype: object

## Data Transformation and Feature Engineering

In [161]:
# Convert 'Gender' to categorical type for efficient storage and analysis
df['Gender'] = df['Gender'].astype('category')

In [163]:
# Normalize 'Sleep_Hours' to a 0-1 scale for consistent comparison with other features
df['Sleep_Hours'] = (df['Sleep_Hours'] - df['Sleep_Hours'].min()) / (df['Sleep_Hours'].max() - df['Sleep_Hours'].min())

In [165]:
# One-hot encode 'Gender' to convert categorical data into numerical format for analysis
df = pd.get_dummies(df, columns=['Gender'], drop_first=True)

In [167]:
# Create 'Sleep_Efficiency' feature to measure sleep quality relative to sleep duration
df['Sleep_Efficiency'] = df['Sleep_Quality_Score'] / df['Sleep_Hours']
df['Sleep_Efficiency'] = df['Sleep_Efficiency'].replace(np.inf, 0)

In [169]:
# Round all numerical columns to 2 decimal places for cleaner and more readable data
df = df.round(2)

In [171]:
# Rename columns for better readability and consistency in analysis
df.rename(columns={'Stroop_Task_Reaction_Time': 'Stroop_Reaction_Time', 'PVT_Reaction_Time': 'PVT_Time'}, inplace=True)

In [173]:
# Sort the dataset by 'Age' to organize participants for better analysis
df.sort_values(by='Age', inplace=True)

In [175]:
# Reset the index to ensure a clean and consistent DataFrame after transformations
df.reset_index(drop=True, inplace=True)

In [179]:
df.head()

,Participant_ID,Sleep_Hours,Sleep_Quality_Score,Daytime_Sleepiness,Stroop_Reaction_Time,N_Back_Accuracy,Emotion_Regulation_Score,PVT_Time,Age,BMI,Caffeine_Intake,Physical_Activity_Level,Stress_Level,Gender_Male,Sleep_Efficiency
0,P3,0.75,17,10,3.40,74.28,35,325.93,18,30.00,1,2,32,True,22.69
1,P4,0.61,14,3,3.54,72.42,25,276.86,18,34.47,5,0,23,True,23.00
2,P10,0.72,0,9,2.61,68.32,23,221.28,18,21.78,3,4,3,True,0.00
3,P11,0.00,6,12,2.23,87.21,37,319.04,18,24.74,1,5,9,True,0.00
4,P30,0.03,11,6,3.05,88.43,32,489.58,19,22.31,4,1,39,False,391.88

In [181]:
# Save the transformed data to a new CSV file for verification and further use
df.to_csv('transformed_sleep_data.csv', index=False)

## Loading Transformed Data into SQLite Database

In [216]:
# Create the 'sleep_data' table in the SQLite database

db_name = "sleep_study.db"

try:
    conn = sqlite3.connect(db_name, isolation_level="EXCLUSIVE")
    cursor = conn.cursor()
    
    create_table_query = """
    CREATE TABLE IF NOT EXISTS sleep_data (
        Participant_ID TEXT PRIMARY KEY,  -- Unique identifier for each participant
        Sleep_Hours REAL,                -- Number of hours slept (float)
        Sleep_Quality_Score INTEGER,     -- Sleep quality score (integer)
        Daytime_Sleepiness INTEGER,      -- Daytime sleepiness score (integer)
        Stroop_Reaction_Time REAL,       -- Reaction time in Stroop task (float)
        N_Back_Accuracy REAL,            -- Accuracy in N-Back test (float)
        Emotion_Regulation_Score INTEGER, -- Emotional regulation score (integer)
        PVT_Time REAL,                  -- Reaction time in PVT task (float)
        Age INTEGER,                    -- Age of participant (integer)
        BMI REAL,                       -- Body Mass Index (float)
        Caffeine_Intake INTEGER,         -- Caffeine intake level (integer)
        Physical_Activity_Level INTEGER, -- Physical activity level (integer)
        Stress_Level INTEGER,            -- Stress level (integer)
        Gender_Male INTEGER,             -- Gender (1 for Male, 0 for Female, stored as integer for SQLite compatibility)
        Sleep_Efficiency REAL            -- Sleep efficiency score (float)
    );
    """
    
    cursor.execute(create_table_query)
    conn.commit()
    print("Table created successfully")
    
except sqlite3.Error as e:
    print(f"Error creating table: {e}")
    
finally:
    if conn:
        conn.close()

Table created successfully

In [218]:
# Insert DataFrame into the SQLite database  
try:
    conn = sqlite3.connect(db_name, isolation_level="EXCLUSIVE")
    df.to_sql("sleep_data", conn, if_exists="append", index=False)
    print("Data inserted successfully")
except sqlite3.Error as e:
    print(f"Error inserting data: {e}")
finally:
    if conn:
        conn.close()

Data inserted successfully

In [220]:
# Retrieve and display all records from the 'sleep_data' table
import sqlite3

db_name = "sleep_study.db"

try:
    conn = sqlite3.connect(db_name, isolation_level="EXCLUSIVE")
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM sleep_data;")
    rows = cursor.fetchall()
    for row in rows:
        print(row)
except sqlite3.Error as e:
    print(f"Error retrieving data: {e}")
finally:
    if conn:
        conn.close()

('P3', 0.75, 17, 10, 3.4, 74.28, 35, 325.93, 18, 30.0, 1, 2, 32, 1, 22.69)
('P4', 0.61, 14, 3, 3.54, 72.42, 25, 276.86, 18, 34.47, 5, 0, 23, 1, 23.0)
('P10', 0.72, 0, 9, 2.61, 68.32, 23, 221.28, 18, 21.78, 3, 4, 3, 1, 0.0)
('P11', 0.0, 6, 12, 2.23, 87.21, 37, 319.04, 18, 24.74, 1, 5, 9, 1, 0.0)
('P30', 0.03, 11, 6, 3.05, 88.43, 32, 489.58, 19, 22.31, 4, 1, 39, 0, 391.88)
('P19', 0.43, 7, 22, 3.02, 98.94, 21, 246.51, 19, 22.02, 3, 9, 5, 1, 16.15)
('P2', 0.98, 12, 14, 2.54, 65.27, 21, 288.95, 20, 27.28, 3, 8, 37, 1, 12.26)
('P52', 0.79, 9, 16, 4.16, 60.45, 64, 271.94, 20, 29.82, 4, 2, 33, 1, 11.32)
('P50', 0.17, 14, 1, 4.07, 96.5, 33, 474.56, 20, 33.62, 0, 1, 11, 1, 80.61)
('P9', 0.61, 12, 1, 1.74, 58.94, 38, 258.28, 20, 25.24, 3, 4, 28, 0, 19.6)
('P22', 0.13, 0, 0, 2.48, 71.72, 35, 458.12, 20, 23.95, 0, 4, 10, 0, 0.0)
('P54', 0.92, 18, 16, 4.31, 67.93, 58, 254.86, 21, 20.83, 0, 5, 25, 0, 19.54)
('P45', 0.25, 0, 16, 4.15, 63.42, 65, 255.3, 21, 34.62, 4, 8, 20, 1, 0.0)
('P41', 0.11, 4, 21, 2.28, 99.02, 28, 319.65, 21, 19.41, 5, 0, 4, 0, 37.38)
('P34', 0.98, 4, 4, 2.13, 63.98, 14, 323.41, 21, 31.04, 5, 9, 31, 1, 4.09)
('P47', 0.31, 13, 19, 2.34, 68.63, 54, 328.49, 22, 23.49, 5, 6, 0, 1, 42.34)
('P60', 0.32, 6, 21, 4.42, 85.45, 21, 419.01, 22, 30.53, 0, 10, 16, 1, 18.69)
('P7', 0.04, 8, 18, 3.16, 50.9, 31, 201.56, 22, 32.74, 4, 5, 16, 1, 198.26)
('P33', 0.05, 15, 8, 3.71, 73.5, 63, 258.31, 24, 30.6, 4, 9, 2, 0, 316.67)
('P57', 0.07, 19, 16, 3.24, 66.13, 36, 355.01, 24, 34.93, 2, 1, 25, 0, 264.15)
('P26', 0.81, 8, 19, 2.55, 93.21, 45, 361.12, 25, 29.99, 3, 3, 10, 0, 9.93)
('P12', 1.0, 8, 24, 3.91, 86.05, 14, 215.23, 25, 33.16, 1, 2, 16, 0, 8.0)
('P32', 0.16, 0, 7, 3.53, 99.73, 19, 452.61, 26, 27.72, 2, 6, 24, 0, 0.0)
('P48', 0.53, 6, 11, 3.6, 69.73, 13, 406.55, 26, 18.74, 0, 4, 4, 1, 11.4)
('P13', 0.85, 0, 20, 2.91, 65.4, 56, 465.99, 27, 20.49, 3, 4, 9, 0, 0.0)
('P28', 0.52, 8, 8, 4.32, 74.96, 39, 448.36, 27, 23.61, 3, 0, 7, 1, 15.35)
('P46', 0.68, 4, 16, 2.07, 74.26, 14, 224.26, 27, 27.45, 0, 0, 5, 0, 5.91)
('P39', 0.7, 0, 23, 4.45, 77.64, 19, 414.38, 28, 24.8, 1, 10, 18, 1, 0.0)
('P6', 0.14, 12, 6, 2.84, 58.8, 46, 224.48, 28, 32.23, 3, 6, 29, 1, 83.41)
('P14', 0.2, 11, 5, 4.45, 77.13, 58, 208.29, 28, 26.73, 1, 6, 16, 0, 54.52)
('P8', 0.89, 14, 21, 3.28, 74.69, 66, 388.37, 29, 32.25, 1, 0, 4, 1, 15.71)
('P15', 0.17, 7, 11, 2.7, 75.44, 39, 373.66, 29, 21.96, 3, 4, 19, 1, 41.13)
('P17', 0.3, 18, 19, 3.9, 62.52, 61, 401.61, 29, 32.67, 4, 4, 4, 1, 60.0)
('P16', 0.17, 10, 11, 3.95, 81.82, 55, 331.54, 30, 27.88, 3, 4, 23, 0, 58.16)
('P38', 0.08, 2, 11, 2.02, 66.54, 40, 490.86, 30, 22.04, 0, 2, 31, 1, 24.26)
('P18', 0.53, 16, 10, 1.95, 79.49, 14, 298.45, 31, 32.97, 0, 9, 33, 1, 30.1)
('P53', 0.97, 12, 4, 4.05, 83.56, 11, 228.16, 33, 19.28, 1, 6, 13, 1, 12.39)
('P24', 0.36, 9, 24, 3.63, 82.26, 30, 211.65, 34, 26.19, 0, 0, 15, 1, 24.66)
('P56', 0.95, 16, 16, 3.51, 64.76, 41, 391.48, 34, 23.01, 2, 5, 8, 1, 16.86)
('P51', 1.0, 14, 2, 2.71, 53.52, 25, 332.71, 34, 22.3, 2, 10, 25, 1, 14.0)
('P55', 0.61, 6, 23, 3.86, 62.71, 37, 480.38, 35, 21.69, 5, 1, 26, 0, 9.86)
('P21', 0.62, 2, 6, 4.08, 95.3, 35, 451.68, 35, 28.06, 5, 0, 12, 0, 3.21)
('P37', 0.3, 7, 9, 2.19, 97.65, 61, 239.82, 35, 29.58, 4, 5, 28, 0, 23.33)
('P1', 0.37, 15, 12, 1.6, 64.2, 12, 365.85, 35, 30.53, 2, 1, 33, 0, 40.14)
('P20', 0.29, 2, 24, 3.59, 74.34, 25, 494.55, 36, 33.43, 2, 2, 1, 1, 6.99)
('P31', 0.62, 1, 5, 4.01, 52.18, 67, 337.18, 36, 24.89, 5, 7, 3, 1, 1.61)
('P5', 0.14, 20, 12, 3.09, 99.72, 60, 383.45, 36, 29.7, 3, 4, 14, 1, 139.02)
('P36', 0.83, 11, 18, 3.59, 87.39, 43, 241.51, 38, 30.65, 2, 5, 26, 1, 13.26)
('P43', 0.02, 13, 8, 4.4, 65.28, 41, 423.21, 38, 25.42, 2, 4, 27, 0, 823.33)
('P59', 0.03, 4, 1, 4.32, 56.83, 33, 330.7, 40, 24.53, 4, 1, 29, 0, 152.0)
('P23', 0.29, 4, 0, 2.16, 67.5, 57, 275.08, 40, 30.04, 0, 8, 22, 1, 13.99)
('P49', 0.55, 8, 6, 4.04, 92.21, 25, 217.46, 41, 33.72, 1, 4, 40, 0, 14.43)
('P40', 0.44, 2, 14, 3.05, 78.61, 67, 212.32, 41, 26.12, 1, 1, 20, 1, 4.52)
('P58', 0.19, 3, 1, 2.62, 92.43, 29, 397.13, 41, 29.85, 0, 1, 21, 1, 16.13)
('P42', 0.5, 14, 23, 4.49, 53.77, 67, 330.06, 42, 26.98, 1, 5, 17, 1, 28.0)
('P44', 0.94, 2, 19, 3.17, 59.55, 10, 275.26, 42, 31.64, 4, 10, 21, 1, 2.13)
('P25', 0.46, 6, 24, 3.93, 83.45, 48, 290.98, 43, 24.43, 4, 2, 30, 1, 13.05)
('P27', 0.19, 6, 12, 1.79, 61.51, 42, 298.0, 43, 22.23, 4, 0, 15, 1, 31.67)
('P35', 0.99, 2, 0, 3.12, 94.17, 45, 409.85, 43, 31.99, 1, 1, 2, 0, 2.01)
('P29', 0.6, 7, 2, 2.69, 78.6, 46, 281.46, 43, 25.39, 4, 7, 3, 0, 11.63)